<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storespot>
            <general>
                <enable>1</enable>
                <pixel_id>123</pixel_id>
                <enabled>1</enabled>
            </general>
        </storespot>
    </default>
</config>