<integrations>
    <integration name="StoreSpot Personalization user">
        <email>info@storespot.io</email>
        <endpoint_url>https://connect.storespot.io/magento2/auth/</endpoint_url>
        <identity_link_url>https://app.storespot.io/magento2/login/</identity_link_url>
    </integration>
</integrations>
