<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storespot>
            <general>
                <enable>1</enable>
                <pixel_id>123</pixel_id>
                <enabled>1</enabled>
                <google_product_category>1</google_product_category>
            </general>
            <cron>
                <last_execution>null</last_execution>
                <next_execution>null</next_execution>
            </cron>
        </storespot>
    </default>
</config>
