<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
		<default>
				<storespot>
						<general>
								<pixel_enabled>0</pixel_enabled>
								<pixel_id></pixel_id>
						</general>
				</storespot>
		</default>
</config>
