<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storespot>
            <general>
                <pixel_enabled>1</pixel_enabled>
                <feed_enabled>1</feed_enabled>
                <pixel_id>123</pixel_id>
                <google_product_category>1</google_product_category>
            </general>
        </storespot>
    </default>
</config>
