<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="StoreSpot\Personalization\Api\StoreSpotSettingsInterface" type="StoreSpot\Personalization\Model\StoreSpotSettings"/>
	<preference for="StoreSpot\Personalization\Api\StoreInfoInterface" type="StoreSpot\Personalization\Model\StoreInfo"/>
</config>
